
$color-primary: #F5EFDB;
$color-secondary: #DCCA87;
$color-white: #fff;
$color-dark: #040404;
$color-gray: #AAAAAA;
$color-light: #fafafafa;
$color-grey-light: #c4c4c4c4;

$bg-dark: #0C0B08;
$color-btn: #0C0B08;

$transition: .3s linear;