.gallery{

    &-wrapper {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &-slider-container {
        max-width: 1325px;
        width: 100%;
    }

    &-content {
        max-width: 490px;
        width: 100%;
    }

    .slider-wrapper {
        width: 300px;
        height: 444px;
        margin: 0 auto;
    }
}