.hero {
    padding: 48px 0 244px 0;

    &-wrapper {
        display: flex;
        gap: 180px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &-content {
        max-width: 453px;
        width: 100%;
    }

    &-title {
        color: $color-secondary;
        @include cormorant(89px, 130%, 700);
        letter-spacing: 3.6px;
        text-transform: capitalize;

    }

    &-link {
        width: 148px;
        text-align: center;
        margin-top: 24px;
    }

    &-img {
        max-width: 667px;
        width: 100%;

        figcuption {
            max-width: 402px;
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 10px 10px 10px 34px;
            background: url(../img/hero-reg.svg) no-repeat left 8px center;
            border: 1px solid $color-primary;

            span {
                color: $color-secondary;
                font-weight: 500;
            }

        }
    }

    &-text {
        color: $color-gray;
        margin: 32px 0;
    }

    &-btn {
        width: 157px;
    }

    &-subtitle{
        margin-bottom: 8px;
    }
}
